[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [
          {elvis_style, dont_repeat_yourself, #{ignore => [erlskat_bidding, erlskat_card_ordering, erlskat_client_responses]}},
          {elvis_style, no_block_expressions, #{ignore => [erlskat_client_responses]}},
          {elvis_style, god_modules, #{ignore => [erlskat_client_responses]}}
       ]},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
