{erl_opts, [debug_info,
            {i, "include"},
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "2.9.0"},
    {uuid, "1.7.5", {pkg, uuid_erl}},
    {meck, "1.0.0"},
    {sync, "0.4.1"}
]}.

{shell, [
    {config, "dev.config"},
    {apps, [sync, erlskat]}
]}.

{relx, [{release, {erlskat, "0.1.0"},
         [erlskat,
          sasl,
          cowboy,
          jsx,
          uuid]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},
        {include_src, false},

        {extended_start_script, true},
        {overlay, [
            {mkdir, "log/sasl"},
            {mkdir, "log"},
            {template, "config/version", "version"}
        ]}]}.

{profiles, [
    {dev, [{relx, [{dev_mode, true},
                   {include_erts, false}]}]},
    {test, [{erl_opts, [debug_info,
                        {i, "include"},
                        warn_export_vars,
                        warn_shadow_vars,
                        warn_obsolete_guard]},
            {deps, [
                {sync, "0.4.1"}
            ]}]}
]}.

{plugins, [rebar3_lint]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_export_enabled, true}.