{release, {erlskat, "0.1.0"}, [erlskat, sasl, cowboy, jsx, uuid]}.
{extended_start_script, true}.
{sys_config, "config/sys.config"}.
{vm_args, "config/vm.args"}.
{include_erts, true}.
{include_src, false}.
{overlay, [
    {mkdir, "log/sasl"},
    {mkdir, "log"},
    {template, "config/version", "version"}
]}. 